# Reading record

In [161]:
import json

fd = open("record.json",'r')
Data = fd.read()
fd.close()

products = json.loads(Data)
products

{'1001': {'brand': 'Amul',
  'mark': 'cow-milk',
  'name': 'milk',
  'price': 30,
  'quantity': 48},
 '1002': {'brand': 'Mother Dairy',
  'mark': 'Almond',
  'name': 'milk',
  'price': 33,
  'quantity': 28},
 '1003': {'brand': 'Darigold',
  'mark': 'soya',
  'name': 'milk',
  'price': 27,
  'quantity': 35},
 '1004': {'brand': 'Dairy Milk',
  'mark': 'Milk Choclate',
  'name': 'choclate',
  'price': 150,
  'quantity': 33},
 '1005': {'brand': '5 Star',
  'mark': 'choclate',
  'name': 'choclate',
  'price': 40,
  'quantity': 76},
 '1006': {'brand': 'Munch',
  'mark': 'waffer',
  'name': 'choclate',
  'price': 10,
  'quantity': 200},
 '1007': {'brand': 'Dairy Milk',
  'mark': 'Dark Choclate',
  'name': 'choclate',
  'price': 30,
  'quantity': 100},
 '1008': {'brand': 'Britannia',
  'mark': 'non-veg',
  'name': 'cake',
  'price': 300,
  'quantity': 12},
 '1009': {'brand': 'Treat',
  'mark': 'veg',
  'name': 'cake',
  'price': 500,
  'quantity': 10},
 '1010': {'brand': 'WS baker',
  'mark': 'non-veg',
  'name': 'cake',
  'price': 1200,
  'quantity': 4},
 '1011': {'brand': 'Happy Happy',
  'mark': 'cookies',
  'name': 'Biscuit',
  'price': 20,
  'quantity': 52},
 '1012': {'brand': 'Dairy',
  'mark': 'cream',
  'name': 'Biscuit',
  'price': 50,
  'quantity': 50},
 '1013': {'brand': 'Marigold',
  'mark': 'salty',
  'name': 'Biscuit',
  'price': 100,
  'quantity': 10},
 '1014': {'brand': 'Parle',
  'mark': 'baked',
  'name': 'Biscuit',
  'price': 5,
  'quantity': 105},
 '1015': {'brand': 'New Star',
  'mark': 'Cream',
  'name': 'Biscuit',
  'price': 10,
  'quantity': 81},
 '1016': {'brand': 'Fun Flips',
  'mark': 'puffs',
  'name': 'Snacks',
  'price': 10,
  'quantity': 20},
 '1017': {'brand': 'Balaji',
  'mark': 'mix',
  'name': 'Snacks',
  'price': 30,
  'quantity': 6},
 '1018': {'brand': 'kurkure',
  'mark': 'stick',
  'name': 'Snacks',
  'price': 5,
  'quantity': 112},
 '1019': {'brand': 'Cheetos',
  'mark': 'puffs',
  'name': 'Snacks',
  'price': 50,
  'quantity': 10},
 '1020': {'brand': 'CRAX',
  'mark': 'rings',
  'name': 'Snacks',
  'price': 10,
  'quantity': 200},
 '1021': {'brand': 'Happy Happy',
  'mark': 'mango',
  'name': 'Pickle',
  'price': 10,
  'quantity': 54},
 '1022': {'brand': 'Dairy',
  'mark': 'lemon',
  'name': 'Pickle',
  'price': 50,
  'quantity': 48},
 '1023': {'brand': 'Marigold',
  'mark': 'mix',
  'name': 'Pickle',
  'price': 100,
  'quantity': 5},
 '1024': {'brand': 'Parle',
  'mark': 'garlic',
  'name': 'Pickle',
  'price': 50,
  'quantity': 12},
 '1025': {'brand': 'New Star',
  'mark': 'mango',
  'name': 'Pickle',
  'price': 100,
  'quantity': 5},
 '1026': {'brand': 'Mine',
  'mark': 'non-veg',
  'name': 'cake',
  'price': 120,
  'quantity': 15},
 '1027': {'brand': 'Eclairs',
  'mark': 'cream',
  'name': 'choclate',
  'price': 2,
  'quantity': 474},
 '1028': {'brand': 'Dabur',
  'mark': 'lemon',
  'name': 'pickle',
  'price': 5,
  'quantity': 100},
 '1029': {'brand': 'bourbon',
  'mark': 'cream',
  'name': 'Biscuit',
  'price': 25,
  'quantity': 145},
 '1030': {'brand': 'allmilk',
  'mark': 'almond',
  'name': 'milk',
  'price': 50,
  'quantity': 8}}

# Purchase

In [158]:
ui_prod  = str(input("Enter the product_Id: "))
ui_quant = int(input("Enter the quantity: "))

if ui_prod in products.keys():
  if products[ui_prod]["quantity"] >= ui_quant:

    print("\nProduct: ", products[ui_prod]['name'])
    print("Brand: ", products[ui_prod]['brand'])
    print("Price: ", products[ui_prod]['price'])
    print("Billing Amount: ", products[ui_prod]['price'] * ui_quant)

    products[ui_prod]['quantity'] = products[ui_prod]['quantity'] - ui_quant


  else:
    print("\nQuantity exceeds availability")
    print("Quantity in Inventory is: {}".format(products[ui_prod]['quantity']))
    new_quant = int(input("Enter new quantity <= {} \n\n".format(products[ui_prod]['quantity'])))
    
    if products[ui_prod]["quantity"] >= new_quant:
      ui_quant = new_quant
      print("\nProduct: ", products[ui_prod]['name'])
      print("Brand: ", products[ui_prod]['brand'])
      print("Price: ", products[ui_prod]['price'])
      print("Billing Amount: ", products[ui_prod]['price'] * ui_quant)

      products[ui_prod]['quantity'] = products[ui_prod]['quantity'] - ui_quant
    
    else:
      print("\nQuantity exceeds {}".format(products[ui_prod]['quantity']))
      print("ORDER CANCELLED")

else:
  print("INVALID PRODUCT ID")
  print("PLEASE ENTER A VALID ID")

Enter the product_Id: 1011
Enter the quantity: 111

Quantity exceeds availability
Quantity in Inventory is: 51
Enter new quantity <= 51

1

Product:  Biscuit
Brand:  Happy Happy
Price:  20
Billing Amount:  20

# Updating Inventory

In [160]:
record = json.dumps(products)

fd = open("record.json",'w')
fd.write(record)

fd.close()

# Sales record in JSON

In [159]:
if products[ui_prod]["quantity"] >= ui_quant:
  num = len(sales)+1
  Billing_Amount = products[ui_prod]['price'] * ui_quant
  sales[num]={'prod_ID' : ui_prod, 'quantity' : ui_quant, 'amount': Billing_Amount}
#sales={}
sale = json.dumps(sales)

sold = open("sales.json",'w')
sold.write(sale)
sold.close()

fd = open("sales.json",'r')
sold = fd.read()
fd.close()

sell = json.loads(sold)
sell

{'1': {'amount': 50, 'prod_ID': '1015', 'quantity': 5},
 '10': {'amount': 1200, 'prod_ID': '1010', 'quantity': 1},
 '11': {'amount': 726, 'prod_ID': '1002', 'quantity': 22},
 '12': {'amount': 500, 'prod_ID': '1013', 'quantity': 5},
 '13': {'amount': 60, 'prod_ID': '1021', 'quantity': 6},
 '14': {'amount': 180, 'prod_ID': '1011', 'quantity': 9},
 '15': {'amount': 600, 'prod_ID': '1007', 'quantity': 20},
 '16': {'amount': 180, 'prod_ID': '1017', 'quantity': 6},
 '17': {'amount': 100, 'prod_ID': '1030', 'quantity': 2},
 '18': {'amount': 2000, 'prod_ID': '1013', 'quantity': 20},
 '19': {'amount': 20, 'prod_ID': '1011', 'quantity': 1},
 '2': {'amount': 200, 'prod_ID': '1024', 'quantity': 4},
 '3': {'amount': 1050, 'prod_ID': '1004', 'quantity': 7},
 '4': {'amount': 100, 'prod_ID': '1022', 'quantity': 2},
 '5': {'amount': 40, 'prod_ID': '1018', 'quantity': 8},
 '6': {'amount': 52, 'prod_ID': '1027', 'quantity': 26},
 '7': {'amount': 360, 'prod_ID': '1001', 'quantity': 12},
 '8': {'amount': 300, 'prod_ID': '1025', 'quantity': 3},
 '9': {'amount': 275, 'prod_ID': '1014', 'quantity': 55}}